src/__pycache__/*
src/cases/__pycache__/*
*.sum
*.ech
*.out
*.pyc
*ipynb_checkpoints
build/*
WFCRL.egg-info/*
kernel-wfcrl/*
__simul__/*
results/*
FarmInputs/*
*.bts
*.exe
.hermes/*
closed-loop-control/__simul__/*
nul
# ROSCO build artifacts
wfcrl/simulators/fastfarm/src/*.mod
wfcrl/simulators/fastfarm/src/*.o
wfcrl/simulators/fastfarm/src/*.obj

dist/
